body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;

}

a {
  color: #00B7FF;
}

.container {
  display: inline-block;
  width: 100%;
  height: auto;
}

.buttonWrap{
  margin: 5rem auto 5rem auto;
  padding: 3rem;

  width: 25%;
  height: auto;

  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  display: block;
  margin: 1rem auto 1rem auto;
  padding: 1rem 2rem 1rem 2rem;

  border: none;
  background-color: #07cdff;

  font-weight: bold;
  color: white;
  border-radius: 7px;

  width: 70%;
}

.pageTop {
  height: 400px;
}

.pageBottom {
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2rem;
}

.pageBottom p {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.pageBottom button {
  width: 20%;
}